@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --bs-gutter-x: 1.75rem !important;
  --bs-gutter-y: 1.75rem !important;

  --font-fira-sans: "Fira Sans", sans-serif;
}

html {
  font-size: 16px !important;
}

body {
  color: #080808;
}

a {
  text-decoration: none !important;
}

li {
  list-style: none;
}

.font-fira-sans {
  font-family: var(--font-fira-sans);
}

.p-margin p {
  margin-bottom: 24px;
}

/* Row */
.row {
  --bs-gutter-x: 1.75rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

/* Columnas responsive */
[class*="col-"] {
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}

/* Media queries para responsive */
@media (max-width: 768px) {
  :root {
    --bs-gutter-x: 1rem !important;
    --bs-gutter-y: 1rem !important;
  }

  .row {
    margin-right: -0.5rem;
    margin-left: -0.5rem;
  }

  [class*="col-"] {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

@media (max-width: 576px) {
  :root {
    --bs-gutter-x: 0.75rem !important;
    --bs-gutter-y: 0.75rem !important;
  }
}

main {
  padding: 0;
}

/* customHeaderNuevo */
.customHeaderTopNuevo {
  background: #FAFAFA;
  border-bottom: 1px solid #ECECEC;
}

.customHeaderTopNuevo button {
  color: #616161;
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.06px;
}

.customHeaderTopNuevo button svg {
  color: #002D72;
}

.customHeaderNuevo .customHeader__nav {
  max-width: 740px;
  height: 100%;
  background-color: #fff;
}

.customHeaderNuevo .customHeader__ul {
  display: grid;
  grid-template-columns: 150px 100px 111px 100px 70px;
  column-gap: 36px;
  height: 100%;
  padding: 0;
}

.customHeaderNuevo .customHeader__ul .link {
  height: 100%;
}

.customHeaderNuevo .customHeader__ul a {
  height: 100%;
  color: #080808;
}

.customHeaderNuevo .sub-menu-nivel-0 {
  top: 84px;
}

.customHeaderNuevo .sub-menu-nivel-1,
.customHeaderNuevo .sub-menu-nivel-2 a,
.customHeaderNuevo .sub-menu-nivel-2 .link,
.customHeaderNuevo .sub-menu-nivel-3 a,
.customHeaderNuevo .sub-menu-nivel-3 .link {
  height: auto;
}

.customHeaderNuevo .customHeader__ul>.link:not(.sub-menu-nivel-0)>a:before {
  background-color: #002D72;
}

.customHeaderNuevo .customHeaderButtonCita {
  color: #002D72;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  padding: 11px 16px;
  line-height: 20px;
  letter-spacing: -0.14px;
  border-radius: 6px;
  border: 1px solid #002D72;
  background: #FFF;
}

.customHeaderNuevo .customHeader__contactos a:hover {
  color: #002D72;
}

.customHeaderTopNuevo.customHeaderTop a {
  font-size: 12px;
  color: #616161;
  font-weight: 400;
}

.customHeaderNuevo .customHeader__ul .link .icon-blanco {
  display: flex;
  right: -22px;
  transform: rotate(90deg);
}

.customHeaderNuevo .has-submenu .icon-blanco {
  background: url(../images/2025/ico-chevron.svg) no-repeat center center;
}

.customHeaderTopNuevo .customHeader__contacto-info {
  left: -200px;
}

.customHeaderNuevo .sub-menu-nivel-0-wrapper .link .icon-blanco {
  right: 0;
  transform: rotate(0);
}

@media only screen and (min-width: 992px) {
  .customHeaderNuevo .customHeader__logo {
    width: 150px;
  }
}

/* Espaciados */
.mb-6 {
  margin-bottom: 6px;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.mb-14 {
  margin-bottom: 14px;
}

.mb-18 {
  margin-bottom: 18px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-42 {
  margin-bottom: 42px;
}

.mb-60 {
  margin-bottom: 42px;
}

.mt-18 {
  margin-top: 18px;
}

.mt-30 {
  margin-top: 30px;
}

.p-12 {
  padding: 12px !important;
}

.pl-12 {
  padding-left: 12px !important;
}

.pl-18 {
  padding-left: 18px;
}

.p-24 {
  padding: 24px;
}

.px-24 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.pt-18 {
  padding-top: 18px;
}

.pt-48 {
  padding-top: 48px;
}

.pt-84 {
  padding-top: 42px;
}

.pb-48 {
  padding-bottom: 48px;
}

.pb-84 {
  padding-bottom: 42px;
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

@media only screen and (min-width: 992px) {
  .pt-lg-92 {
    padding-top: 92px;
  }

  .pr-lg-44 {
    padding-right: 40px;
  }

  .pr-lg-100 {
    padding-right: 100px;
  }

  .mb-lg-60 {
    margin-bottom: 60px;
  }

  .pt-84 {
    padding-top: 84px;
  }

  .pb-84 {
    padding-bottom: 84px;
  }
}

.gap-6 {
  gap: 6px;
}

.gap-12 {
  gap: 12px;
}

.gap-22 {
  gap: 10px;
}

.gap-24 {
  gap: 24px;
}

@media only screen and (min-width: 992px) {
  .gap-lg-18 {
    gap: 18px;
  }

  .gap-22 {
    gap: 22px;
  }
}

.fw-normal {
  font-weight: 400 !important;
}

.fw-semibold {
  font-weight: 700 !important;
}

/* Contenedores */
.customContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
}

@media only screen and (min-width: 768px) {
  .customContainer {
    max-width: 540px;
  }
}

@media only screen and (min-width: 992px) {
  .customContainer {
    max-width: 1000px;
  }
}

@media only screen and (min-width: 1200px) {
  .customContainer {
    max-width: 1100px;
  }
}

@media only screen and (min-width: 1280px) {
  .customContainer {
    max-width: 1200px;
  }
}

@media only screen and (min-width: 1440px) {
  .customContainer {
    max-width: 1360px;
  }
}

/* Colores */
.bg-primary {
  background-color: #002D72 !important;
}

/* Textos */
.fs-1 {
  font-size: 2.438rem !important;
  font-style: normal;
  font-weight: 400;
  line-height: 45px;
}

.fs-2 {
  /* 40px */
  font-size: 2.125rem !important;
  font-style: normal;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: -0.34px;
}

.fs-3 {
  font-size: 2.25rem !important;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: -0.36px;
  text-transform: uppercase;
}

.fs-3-medium {
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 41px;
  letter-spacing: -0.32px;
}

.fs-4 {
  /* 24px */
  font-size: 1.313rem !important;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: -0.21px;
}

.fs-6 {
  /* 14px */
  font-size: 0.875rem !important;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.28px;
}

.fs-6-light {
  /* 14px */
  font-size: 0.875rem !important;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.21px;
}

.fs-p {
  /* 18px */
  font-size: 1.125rem !important;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.27px;
}

@media only screen and (min-width: 992px) {
  .fs-1 {
    font-size: 3rem !important;
    line-height: 60px;
  }

  .fs-2 {
    /* 40px */
    font-size: 2.5rem !important;
    font-style: normal;
    line-height: 52px;
    letter-spacing: -0.4px;
  }

  .fs-4 {
    /* 24px */
    font-size: 1.5rem !important;
    line-height: 32px;
    letter-spacing: -0.24px;
  }
}

.border-gray {
  border-color: #ECECEC;
}

.rounded-6 {
  border-radius: 6px;
}

/* Botones */
.customButton {
  font-family: "Open Sans";
  display: block;
  padding: 16px 36px;
  font-size: 1.125rem;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.36px;
  border-radius: 6px;
}

.customButton-white {
  color: #002D72;
  background-color: #fff;
  border: 1px solid #002D72;
}

.customButton-blue {
  color: #fff;
  background-color: #002D72;
}

.customButton-blue:hover {
  color: #fff;
  background-color: #002D72;
}

@media only screen and (min-width: 992px) {
  .customButton {
    display: inline-block;
  }
}

.customHover {
  position: relative;
}

.customHover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #002D72;
  transition: width 0.3s ease;
}

.customHoverLink:hover .customHover:after {
  width: 100%;
}

.customHoverLink:hover .customHover-blanco:after {
  background-color: #fff;
}

/* Shadow */
@media only screen and (max-width: 991px) {
  .customShadow {
    box-shadow: 0px 12px 24px 0px rgba(211, 211, 211, 0.70);
  }
}

@media only screen and (min-width: 992px) {
  .customShadow {
    box-shadow: none;
    transition: box-shadow 0.3s ease;
  }

  .customShadow:hover {
    box-shadow: 0px 12px 24px 0px rgba(211, 211, 211, 0.70);
  }
}

.gradient-1 {
  background: linear-gradient(180deg, #E7EDF1 0%, #FFF 100%);
}

.subtitulo {
  font-family: var(--font-fira-sans);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 3.64px;
  text-transform: uppercase;
}

.color-080808 {
  color: #080808;
}

.color-616161 {
  color: #616161;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

/* customImagenTextoItems */
.customImagenTextoItems-titulo,
.customImagenTextoItems-info {
  padding: 24px 24px 0;
}

.customLineaLiRojo {
  position: relative;
  display: flex;
  align-items: start;
  padding-left: 12px;
  list-style: none;
}

.customLineaLiRojo:first-child:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 3px;
  height: 44px;
  background-color: #E40046;
}

.customImagenTextoItems .customButton {
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .customImagenTextoItems .customImagenTextoItems-img {
    width: 50vw;
  }

  .customImagenTextoItems-info,
  .customImagenTextoItems-titulo {
    padding: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .customImagenTextoItems .customImagenTextoItems-img {
    padding-right: 75px !important;
  }

  .customImagenTextoItems .customButton {
    width: 100%;
    max-width: 270px;
    padding: 16px 24px;
  }
}

/* customTarjetasGrandes */
.customTarjetasGrandes h2 {
  text-align: left !important;
}

@media only screen and (min-width: 992px) {
  .customTarjetasGrandes h2 {
    text-align: center !important;
  }
}

/* customSwiperAlianzas */
.customSwiperAlianzas h2 {
  text-align: left !important;
}

@media only screen and (min-width: 992px) {
  .customSwiperAlianzas h2 {
    text-align: center !important;
  }
}

/* customSwiperPagination */
.swiper .swiper-slide {
  display: none !important;
}

.swiper.swiper-initialized .swiper-slide {
  display: block !important;
}

.swiper.swiper-initialized .cargando {
  display: none !important;
}

body .swiper-slide-active {
  transform: scale(1) !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}

.swiper-button-next {
  background-image: url(../images/2025/iconoArrowAzulCircleNext.svg);
}

.swiper-button-prev {
  background-image: url(../images/2025/iconoArrowAzulCirclePrev.svg);
}

.swiper-button-next,
.swiper-button-prev {
  width: 70px !important;
  height: 60px !important;
  padding: 0;
  border: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.customSwiperPagination .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background: rgba(0, 46, 114, 0.40);
  opacity: 1;
}

.customSwiperPagination .swiper-pagination-bullet-active {
  width: 24px;
  border-radius: 12px;
  background: #002D72;
}

/* Iconos */
.customIcono {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.customIconoNext {
  background-image: url(../images/2025/iconoArrowAzulNext.svg);
  background-size: contain;
  width: 16px;
  height: 16px;
}

.customIconoSearch {
  background-image: url(../images/2025/iconoSearch.svg);
  background-size: contain;
  width: 24px;
  height: 24px;
}

/* customAgenda */

.customAgenda ul {
  margin: 0;
  padding: 0;
}

.customAgenda li {
  list-style: none;
  padding-left: 32px;
}

.customAgenda li:nth-child(1),
.customAgenda li:nth-child(2),
.customAgenda li:nth-child(3),
.customAgenda li:nth-child(4) {
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

.customAgenda li:nth-child(1) {
  background-image: url(../images/2025/iconoChat.svg);
}

.customAgenda li:nth-child(2) {
  background-image: url(../images/2025/iconoCalendarioGris.svg);
}

.customAgenda li:nth-child(3) {
  background-image: url(../images/2025/iconoPointerGris.svg);
}

.customAgenda li:nth-child(4) {
  background-image: url(../images/2025/iconoRelojGris.svg);
}

.customAgendaScroll {
  display: flex;
  column-gap: 10px;
  overflow-x: auto;
  padding-bottom: 20px;
  /* Personalización del scrollbar */
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: #E40046 #f1f1f1;
  /* Firefox */
}

.customAgendaScroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.customAgendaScroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.customAgendaScroll::-webkit-scrollbar-thumb {
  background: #E40046;
  border-radius: 10px;
}

.customAgendaScroll::-webkit-scrollbar-thumb:hover {
  background: #002D72;
}

@media only screen and (min-width: 992px) {
  .customAgendaScroll {
    display: block;
    height: 200px;
    overflow-y: auto;
    padding-right: 10px;
  }
}

/* customAgenda */

.customAgenda-tabs {
  display: flex;
  flex-direction: row;
  column-gap: 6px;
  padding-bottom: 30px;
  white-space: nowrap;
  overflow-x: scroll;
  /* Personalización del scrollbar */
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: #E40046 #f1f1f1;
  /* Firefox */
}

.customAgenda-tabs::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.customAgenda-tabs::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.customAgenda-tabs::-webkit-scrollbar-thumb {
  background: #E40046;
  border-radius: 10px;
}

.customAgenda-tabs::-webkit-scrollbar-thumb:hover {
  background: #002D72;
}

.customAgenda-tabs button {
  color: #002D72;
  background-color: #fff;
  padding: 9px 18px;
  font-weight: 700;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom: 2px solid #E40046 !important;
}

.customAgenda-tabs button.active {
  background-color: #fff;
  color: #002D72;
  font-weight: 700;
  box-shadow: 0px 12px 24px 0px rgba(211, 211, 211, 0.70);
}

.customAgenda .tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

@media only screen and (min-width: 992px) {
  .customAgenda-tabs {
    flex-direction: column;
    padding-left: 120px;
    font-weight: 300;
    padding-bottom: 0;
  }

  .customAgenda-tabs button {
    background-color: transparent;
    padding: 9px 18px;
    border-bottom-left-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
    border-bottom: 0 !important;
    font-weight: 400;
  }
}

/* customBanner */
.customBanner img {
  width: 200px;
}

.swiperBanner .swiper-button-next,
.swiperBanner .swiper-button-prev {
  display: none;
}

@media only screen and (min-width: 992px) {
  .customBanner p {
    padding-right: 130px;
  }

  .swiperBanner .swiper-button-next,
  .swiperBanner .swiper-button-prev {
    display: block;
  }
}

/* swiperBanner */
.swiperBanner .swiper-button-next {
  right: 10px;
}

.swiperBanner .swiper-button-prev {
  left: 10px;
}

@media only screen and (min-width: 1280px) {
  .swiperBanner .swiper-button-next {
    right: -16px;
  }

  .swiperBanner .swiper-button-prev {
    left: -16px;
  }
}

@media only screen and (min-width: 1440px) {
  .swiperBanner .swiper-button-next {
    right: -16px;
  }

  .swiperBanner .swiper-button-prev {
    left: -16px;
  }
}

/* customBuscadorTecla */
.customBuscadorTecla .letra-btn {
  width: 54px;
  height: 54px;
  border-radius: 54px;
  border: 1px solid #ACF;
  background-color: #fff;
}

.customBuscadorTecla .letra-btn.active {
  background-color: #EFF5FF;
  border: 1px solid #002D72;
}

.customBuscadorTecla input[type="text"] {
  font-family: "Open Sans";
  padding: 16px 24px 16px 54px;
  color: #616161;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.27px;
  border-radius: 6px;
  border: 1px solid #C9C9C9;
  background: #FFF;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.customBuscadorTecla i {
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
}

.customBuscadorTecla .customButton {
  width: 102px;
  padding-right: 5px;
  padding-left: 5px;
  border: 1px solid #012d72;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.customBuscadorTecla ul {
  margin: 0;
  padding: 0;
}

.customBuscadorTecla ul li {
  list-style: none;
}

/* customItems */
.customItems__titulo {
  text-align: left;
}

.customItems__grid {
  display: grid;
  gap: 42px;
}

@media only screen and (min-width: 1024px) {
  .customItems__titulo {
    text-align: center;
  }

  .customItems__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}

@media only screen and (min-width: 1200px) {
  .customItems__grid {
    gap: 52px;
  }
}

/* customTabs */
.customTabs__nav {
  white-space: nowrap;
  overflow-x: scroll;
  /* Personalización del scrollbar */
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: #E40046 #EEF5FF;
  /* Firefox */
}

.customTabs__nav::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.customTabs__nav::-webkit-scrollbar-track {
  background: #EEF5FF;
  border-radius: 10px;
}

.customTabs__nav::-webkit-scrollbar-thumb {
  background: #E40046;
  border-radius: 10px;
}

.customTabs__nav::-webkit-scrollbar-thumb:hover {
  background: #002D72;
}

.customTabs__nav ul {
  width: max-content;
  margin: 0 auto !important;
  padding: 3px;
  border: 1px solid #ACF;
  border-radius: 60px;
  background-color: #EEF5FF;
}

.customTabs__nav button {
  font-family: "Open Sans";
  color: #002D72;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.28px;
  min-width: 168px;
  padding: 10px 12px;
  border-radius: 40px;
  background-color: transparent;
}

.customTabs__nav button.active {
  color: #fff;
  background-color: #002D72;
}

.customTabs__img {
  margin-bottom: 24px;
}

@media only screen and (min-width: 1024px) {
  .customTabs__img {
    padding-left: 90px;
    margin-bottom: 0;
  }
}

/* customImagenTextoBoton2 */
.customImagenTextoBoton2__titulo,
.customImagenTextoBoton3__titulo {
  padding: 12px 0;
}

.customImagenTextoBoton2__ctas a {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  letter-spacing: -0.36px;
}

@media only screen and (min-width: 1024px) {

  .customImagenTextoBoton2__img,
  .customImagenTextoBoton3__img {
    padding-right: 90px;
  }

  .customImagenTextoBoton2__titulo {
    padding: 0 0 40px;
  }

  .customImagenTextoBoton2__ctas a {
    font-size: 18px;
    line-height: 24px;
  }
}

/* customItemsDescargas */


.customItemsDescargas__descargas a {
  padding: 18px 0;
  border-bottom: 1px solid #C9C9C9;
}

.customItemsDescargas__descripcion {
  padding-bottom: 42px;
}

@media only screen and (min-width: 1024px) {
  .customItemsDescargas__descargas {
    padding-right: 100px;
  }

  .customItemsDescargas__descripcion {
    padding-left: 120px;
    padding-bottom: 0;
  }
}

/* customFormularioAsociacionUsuarios */

.loader-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #E40046;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 15px;
}

.loader-text {
  color: #E40046;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.21px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.step-progress-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 40px;
  width: calc(100% + 80px);
  margin: 0 auto;
  white-space: nowrap;
  overflow-x: auto;
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: #E40046 #EEF5FF;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE y Edge */
  padding: 0 0 0 16px;
}

/* Personalización para Chrome, Safari y Opera */
.step-progress-bar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.step-progress-bar::-webkit-scrollbar-track {
  background: #EEF5FF;
  border-radius: 10px;
}

.step-progress-bar::-webkit-scrollbar-thumb {
  background: #E40046;
  border-radius: 10px;
}

.step-progress-bar::-webkit-scrollbar-thumb:hover {
  background: #002D72;
}

.step-progress-bar::before {
  content: '';
  position: absolute;
  top: 35px;
  left: 0;
  width: calc(100% + 80px);
  height: 3px;
  background: #FFABC4;
  z-index: 0;
}

.step-progress-bar .progress-fill {
  position: absolute;
  top: 35px;
  left: 0;
  width: 0%;
  height: 3px;
  background: #E40046;
  z-index: 0;
  transition: width 0.5s ease;
}

.form-step {
  display: none;
}

.form-step.active {
  display: block;
}

.step {
  position: relative;
  width: auto;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  z-index: 1;
  transition: all 0.3s ease;
}

.step-loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.step-label {
  font-family: "Open Sans";
  position: relative;
  color: #C9C9C9;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 0;
  letter-spacing: 0.21px;
  white-space: nowrap;
  transition: all 0.3s ease;
  transform: translateY(-50%);
}

.step img {
  opacity: 0.4;
}

.step.active img {
  opacity: 1;
}

.step.completed img {
  opacity: 1;
}

.step.active .step-label {
  color: #080808;
  opacity: 1;
}

.step.completed .step-label {
  color: #080808;
}

.wpcf7-not-valid-tip {
  color: #E40046;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.wpcf7-not-valid {
  border-color: #E40046 !important;
}

.customFormularioAsociacionUsuarios__titulo {
  padding: 42px 0;
}

.customFormularioAsociacionUsuarios br {
  display: none;
}

.customFormularioAsociacionUsuarios input[type="text"],
.customFormularioAsociacionUsuarios input[type="tel"],
.customFormularioAsociacionUsuarios input[type="email"],
.customFormularioAsociacionUsuarios select {
  border-radius: 6px !important;
  border: 1px solid #C9C9C9;
  height: 100%;
}

.customFormularioAsociacionUsuarios input::placeholder,
.customFormularioAsociacionUsuarios select::placeholder,
.customFormularioAsociacionUsuarios select option,
.customFormularioAsociacionUsuarios input {
  font-family: "Open Sans" !important;
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  letter-spacing: 0.27px !important;
}

.customFormularioAsociacionUsuarios textarea {
  border-radius: 6px !important;
  border: 1px solid #C9C9C9;
}

.wpcf7-list-item label {
  display: flex;
}

.wpcf7-form-control.wpcf7-acceptance input[type="checkbox"] {
  width: 30px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid #003087;
  border-radius: 3px;
  background-color: white;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  top: 4px;
}

.wpcf7-form-control.wpcf7-acceptance input[type="checkbox"]:checked {
  background-color: #003087;
  border-color: #003087;
}

.wpcf7-form-control.wpcf7-acceptance input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.wpcf7-list-item-label {
  font-size: 14px;
  color: #003087;
}

.wpcf7-list-item-label a {
  color: #003087;
  text-decoration: underline;
}

.wpcf7-list-item label {
  display: flex;
}

span.wpcf7-spinner {
  position: fixed;
  top: 50%;
}

.prefijo {
  width: 70px;
}

@media only screen and (min-width: 1024px) {

  .customFormularioAsociacionUsuarios__titulo {
    padding: 0 0 42px;
  }

  .step-progress-bar {
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    padding: 0;
  }

  .step-progress-bar::before {
    content: '';
    top: 0;
    width: 3px;
    height: 100%;
  }

  .step-progress-bar .progress-fill {
    top: 0;
    left: 0;
    width: 3px;
    height: 0%;
    transition: height 0.5s ease;
  }

  .step {
    width: 40px;
    height: 30px;
    justify-content: flex-end;
  }

  .step-label {
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);
  }
}

/* customModal */
.customModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #EEF5FF;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #E40046 #EEF5FF;
  -ms-overflow-style: auto;
  z-index: 9999;
}

.customModal::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.customModal::-webkit-scrollbar-track {
  background: #EEF5FF;
  border-radius: 10px;
}

.customModal::-webkit-scrollbar-thumb {
  background: #E40046;
  border-radius: 10px;
}

.customModal::-webkit-scrollbar-thumb:hover {
  background: #002D72;
}

/* Aplicamos el mismo estilo para todos los scrollbars dentro del formulario */
.customModal *::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.customModal *::-webkit-scrollbar-track {
  background: #EEF5FF;
  border-radius: 10px;
}

.customModal *::-webkit-scrollbar-thumb {
  background: #E40046;
  border-radius: 10px;
}

.customModal *::-webkit-scrollbar-thumb:hover {
  background: #002D72;
}

.customModal * {
  scrollbar-width: thin;
  scrollbar-color: #E40046 #EEF5FF;
}

.customModal__header {
  padding: 10px 0;
}

.customModal__header a {
  margin-right: 40px;
}

.customModal__header p {
  font-size: 14px !important;
}

@media only screen and (min-width: 992px) {
  .customModal__header a {
    padding-right: 40px;
    margin-right: 40px;
    border-right: 1px solid #D5DBE7;
  }

  .customModal__header p {
    font-size: 18px !important;
  }
}

/* customSecionLaboratorioClinico */
.customSecionLaboratorioClinico {
  margin-top: -40px;
}

.customSecionLaboratorioClinico i {
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
}

.customSecionLaboratorioClinico input[type="text"] {
  font-family: "Open Sans";
  padding: 16px 24px 16px 54px;
  color: #616161;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.27px;
  border-radius: 6px;
  border: 1px solid #C9C9C9;
  background: #FFF;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.customSecionLaboratorioClinico .customButton {
  width: 102px;
  padding-right: 5px;
  padding-left: 5px;
  border: 1px solid #012d72;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.customSecionLaboratorioClinico__lista {
  max-height: 400px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ACF #EEF5FF;
  margin-bottom: 20px;
  padding-right: 5px;
}

.customSecionLaboratorioClinico__lista::-webkit-scrollbar {
  width: 6px;
}

.customSecionLaboratorioClinico__lista::-webkit-scrollbar-track {
  background: #EEF5FF;
  border-radius: 6px;
}

.customSecionLaboratorioClinico__lista::-webkit-scrollbar-thumb {
  background-color: #ACF;
  border-radius: 10px;
  border: 3px solid #EEF5FF;
}

.customSecionLaboratorioClinico__item {
  border-bottom: 1px solid #ECECEC;
}

.customSecionLaboratorioClinico__item h4 {
  text-transform: uppercase;
}

.customSecionLaboratorioClinico__item.activo h4 {
  color: var(--002D72) !important;
  font-weight: 700 !important;
}

/* Media queries para ajustes responsive */
@media (max-width: 767px) {
  .customSecionLaboratorioClinico__detalle-container {
    position: static !important;
  }
}

/* Estilos para el contenido HTML en los detalles del laboratorio */
.contenido-html {
    font-family: var(--font-fira-sans);
    color: #080808;
    font-size: 16px;
    line-height: 1.6;
}

.contenido-html ul, 
.contenido-html ol {
    padding-left: 20px;
    margin-bottom: 1rem;
}

.contenido-html li {
    margin-bottom: 0.5rem;
    list-style-type: disc;
    display: list-item !important;
}

.contenido-html p {
    margin-bottom: 1rem;
}

.contenido-html br {
    display: block;
    content: "";
    margin-top: 0.5rem;
}