.select2-container .select2-selection--single {
    height: 56px !important;
    border-radius: 6px;
    border: 1px solid #d5dbe7;
    font-size: 18px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    gap: 100px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 50%;
    transform: translateY(-50%);
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding: 0;
}

.select2-results__option--highlighted[aria-selected] {
    background-color: #0056b3 !important;
    color: #fff !important;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    margin-left: 20px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 5px;
}

.select2-dropdown {
    border-radius: 6px;
    border: 1px solid #d5dbe7;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #677283;
}

.select2-results__option {
    padding: 6px 24px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-results__option[aria-selected] {
    color: #677283;
    font-family: var(--ff-sans);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.27px;
}

@media(min-width: 1024px) {
    .select2-container--default .select2-selection--single .select2-selection__rendered,
    .select2-results__option[aria-selected] {
        font-size: 18px;
    }
}

.select2-container {
    width: 100% !important;
}